<div class="box-title">
  <mat-icon class="icon">trending_up</mat-icon>
  <span class="title">Recommendations for you</span>
  <a class="see-more" href="#" (click)="toggleBooks($event)" *ngIf="books.length >= 10">
    {{ showAll ? 'See less -' : 'See more +' }}
  </a>
  </div>
  <div class="recommendations" *ngIf="books">
    <div
      class="book-card"
      *ngFor="let book of books | slice:0:visibleBooks"
      (click)="openBookDetail(book)"
    >
      <img [src]="book.image" alt="Book cover" />
      <h6 class="book-title">{{ book.title }}</h6>
    </div>
  </div>  
  