footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 60px;
  background-color: #be8a75ce;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1;
  z-index: 100;
}
