<app-header></app-header>

<main>
  <div class="container">
    <app-card
      [icon]="'add_circle_outline'"
      [title]="readingGoalTitle"
      [iconColor]="'#ffa600'"
      (click)="readingGoal()"
    >
    </app-card>
    <app-card
      [icon]="'import_contacts'"
      [title]="'Currently Reading'"
      [iconColor]="'#ffa600'"
      [subtitle]="'No books in progress'"
    >
    </app-card>
    <app-card
      [icon]="'done_all'"
      [title]="'Books Completed'"
      [iconColor]="'#ffa600'"
      [subtitle]="'0 pages read'"
    >
    </app-card>
    <app-card
      [icon]="'star_border'"
      [iconColor]="'#ffa600'"
      [title]="'Average Rating'"
      [subtitle]="'From 0 rated books'"
    >
    </app-card>
    <app-card
      [icon]="'alarm'"
      [title]="'Time Spent Reading'"
      [iconColor]="'#ffa600'"
      [subtitle]="readingTimeTitle()"
      (click)="timeSpentReading()"
    ></app-card>
    <app-card
      [icon]="'bookmark_border'"
      [title]="'Books Bookmarked'"
      [iconColor]="'#ffa600'"
      [subtitle]="booksBookmarkedTitle()"
      (click)="booksBookmarked()"
    ></app-card>
  </div>
  <div class="recommendation">
    <app-recommendation></app-recommendation>
  </div>
</main>

<app-footer></app-footer>
