main {
  margin: 30px;
  padding-bottom: 60px;
}

.container {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

app-card {
  flex: 1 1 250px;
  max-width: 300px;
  min-width: 240px;
}